<main class="main-contacto">
        <section>
          <h2>Ingrese sus datos para contacto</h2>
        
    <form method="post" Action='@Url.Action("GuardarContacto")'>
        <div><p>Nombre:</p> <input type="text" name="nombre"></div>
        <div><p>Apellido:</p> <input type="text" name="apellido"> </div>
        <div><p>Ingrese su número telefónico: +</p><input type="number" max="999" class="cod-area" name="zone-identifier-phone"><input type="tel" max="99999999" name="telefono"></div>
        <div><p>Mail: </p> <input type="email"name="mail"></div>
        <div><select>
            <option selected disabled>Ingrese su destino</option>
            <option value="Jerusalem">Jerusalen</option>
            <option value="Jaifa">Jaifa</option>
            <option value="Tel aviv">Tel aviv</option>
            <option value="Rosh hanikrá">Rosh hanikrá</option>
        </select></div>
        <div><p>Fecha conveniente: IDA: </p><input type="date" name="ida"> <p>VUELTA:</p> <input type="date"name="vuelta"></div>
        <div><select>
            <option selected disabled>Que está buscando</option>
            <option value="Paquete completo">Paquete completo (pasaje y hospedaje)</option>
            <option value="Pasaje">Pasaje</option>
            <option value="Hospedaje">Hospedaje</option>
        </select></div>
    <div><p>Cantidad de viajantes:</p> <input type="number" name="cant" min="0" max="100"> </div>
        <div><input type="checkbox" name="eleccion"> Seguro de viaje</div>
        <div class="botones-form">
            <input type="submit" name="send-first-form" value="Envíar">
            <input type="reset" name="reset-first-form" value="Resetear respuestas">
        </div>
       
    </form>  
        </section>
        
</main>