<main class="main-lugares">
    <section>
    
    @for (int i = 0; i < 4; i++)
        {
           <div>
           <h1>@ViewBag.ListaTitulos[i]</h1>
           <img src="/img/@ViewBag.ListaFotos[i]">
           <p>@ViewBag.Listadesc[i]</p>
           </div>
        }
      <div>
      
    </section>
    </main>